@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #181818;
}

.title {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(  -50%);
    margin-bottom: 50px;
    color: white;
}

.all {
    width: 1205px;
    height: 160vh;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    color: white;
}

.all input[type="submit"] {
    position: absolute;
    left: 30%;
    top: 40%;
    border: 3px solid white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
    width: 25%;
    height: 5%;
    cursor: pointer;
}

.token_border {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    border: 1px solid white;
}

p {
    margin-top: 15px;

}

.back {
    position: absolute;
    top: 5%;
    left: 2.5%;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}


.all input[type="submit"] {
    color: white;
}


.btn {
    position: absolute;
    left: 70%;
    top: 40%;
    border: 3px solid white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
    width: 25%;
    height: 5%;
    cursor: pointer;
    color: white;
}

h3 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.lnombre {
    position: absolute;
    top: 40px;
    left: 250px;
}


.nombre {
    position: absolute;
    top: 70px;
    left: 250px;
    height: 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.lapellido {
    position: absolute;
    top: 40px;
    left: 750px;
}


.apellido {
    position: absolute;
    top: 70px;
    left: 750px;
    height: 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.lestado {
    position: absolute;
    top: 140px;
    left: 250px;
}


.estado {
    position: absolute;
    top: 170px;
    left: 250px;
    height: 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.larrive {
    position: absolute;
    top: 140px;
    left: 750px;
}


.arrive {
    position: absolute;
    top: 170px;
    left: 750px;
    height: 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 210px;
}


.ll {
    margin-top: 85%;
}







